@font-face {
    font-family: "Source Code Pro";
    src: url(scp.ttf);
}
@font-face {
    font-family: 'San Francisco Display';
    src: url(sfd.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: 'San Francisco Display', 'Helvetica', sans-serif;
	color: white;
}

html {
	height: 100vh;
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	padding: 10px;
}

table {
	font-family: "Source Code Pro", 'Monaco', monospace;
	width: 90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	font-size: 800%;
	width: 30%;
	position: relative;
	max-width: 200px;
	padding: 0;
}

td:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

td div {
	position:  absolute;
	left: 0;
	bottom: 0;
	right: 0;
	vertical-align: auto;
}

tr:nth-child(-n+2) td {
	border-bottom: thin white solid;
}

td:nth-child(-n+2) {
	border-right: thin white solid;
}

span {
	font-size: 2.5em;
	margin: 0 auto;
}