@font-face {
    font-family: "Source Code Pro";
    src: url(scp.ttf);
}
@font-face {
    font-family: 'San Francisco Display';
    src: url(sfd.ttf);
}

* {
	padding: 0;
	margin: 0;
	font-family: 'San Francisco Display', 'Helvetica', sans-serif;
}

table {
	font-family: "Source Code Pro", 'Monaco', monospace;
	width: 90%;
	margin: 0 5%;
}

td {
	text-align: center;
	font-size: 10em;
	width: 30%;
	height: 200px;
}

tr:nth-child(-n+2) td {
	border-bottom: thin black solid;
}

td:nth-child(-n+2) {
	border-right: thin black solid;
}

span {
	font-size: 100px;
	margin: 0 auto;
}